<div class="panel panel-default">
    <div class="panel-heading no-selection">
        <h3 class="panel-title">
            <a ng-class="{ 'collapsed': collapsed }" ng-click="collapsed = !collapsed">
                Score: {{ stats.score | percentageOf: stats.totalPoints }}
                ({{ stats.score | decPlaces: 2 }} / {{ stats.totalPoints | decPlaces: 2 }})
            </a>
        </h3>
    </div>
    <div uib-collapse="collapsed">
        <uib-progressbar value="progress >= 0 ? progress : 0" max="questionCount || 1" animate="false"></uib-progressbar>
        <div class="panel-body" ng-if="message">
            <span>{{ message }}</span>
        </div>
        <table class="table stats-table">
            <tr>
                <th>Correct:</th>
                <td>{{ stats.correct }}</td>
                <td class="text-right">{{ stats.correct | percentageOf: total() }}</td>
            </tr>
            <tr>
                <th>Partially:</th>
                <td>{{ stats.partial }}</td>
                <td class="text-right">{{ stats.partial | percentageOf: total() }}</td>
            </tr>
            <tr>
                <th>Incorrect:</th>
                <td>{{ stats.incorrect }}</td>
                <td class="text-right">{{ stats.incorrect | percentageOf: total() }}</td>
            </tr>
        </table>
    </div>
</div>
