<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Raw question string</h4>
</div>
<div class="modal-body">
    <div ng-hide="view.showAnswers">
        <pre class="pre-scrollable" style="white-space: pre-wrap">{{ content.withoutAnswers }}</pre>
        <p>Answers are hidden to avoid revealing solution.</p>
    </div>
    <div ng-show="view.showAnswers">
        <pre class="pre-scrollable" style="white-space: pre-wrap">{{ content.withAnswers }}</pre>
    </div>
    <div ng-if="view.showExplanation">
        <p>Explanation:</p>
        <pre class="pre-scrollable" style="white-space: normal">{{ content.explanation }}</pre>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" ng-click="view.showAnswers = true" ng-if="!view.showAnswers">Reveal answers</button>
    <button type="button" class="btn btn-info" ng-click="view.showExplanation = true" ng-if="content.explanation && !view.showExplanation">Reveal explanation</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
