<div class="page-header">
    <button class="btn btn-default pull-right" type="button" question-string="currentQuestion" title="Show question string">
        <glyphicon icon="copy"></glyphicon>
    </button>
    <h2 title="{{currentQuestion.id != false ? currentQuestion.id : 'No ID'}}">Question {{questionIndex}} out of {{questions.length}}</h2>
</div>
<form ng-submit="nextQuestion()" ng-class="{ graded: view.isGraded() }">
    <div>
        <div ng-bind-html="currentQuestion.body | markdown:this" ng-show="config.markdown"></div>
        <div ng-hide="config.markdown">
            <p ng-repeat="line in currentQuestion.body | lines track by $index">{{line}}</p>
        </div>
    </div>
    <div class="form-group answers">
        <div class="checkbox answer no-selection correct-{{answer.correct}} checked-{{answer.checked}}" ng-class="{ explained: view.isGraded() && config.showExplanations && currentQuestion.hasExplanations }" ng-repeat="answer in currentQuestion.answers | orderBy:'sortingKey'">
            <label>
                <span class="label label-default keyboard-shortcut answer-number"></span>
                <input type="checkbox" ng-model="answer.checked" ng-disabled="view.isGraded()">
                <span class="content">
										<span class="id" ng-show="view.isGraded() && config.showExplanations && currentQuestion.hasExplanations">{{answer.id}})&nbsp;</span>
										<span class="p" ng-repeat="line in answer.body | lines track by $index">{{line}}</span>
									</span>
            </label>
        </div>
    </div>
    <div ng-show="view.isGraded() && config.showExplanations && currentQuestion.hasExplanations">
        <div ng-bind-html="currentQuestion.explanation | doubleNewlines | markdown:this" ng-show="config.markdown"></div>
        <div ng-hide="config.markdown">
            <p ng-repeat="line in currentQuestion.explanation | lines track by $index">{{line}}</p>
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default btn-lg btn-block" ng-show="view.isNotGraded()" ng-click="grade()">
            <span class="label label-default keyboard-shortcut">Enter</span>
            Check answers
        </button>
        <button type="submit" class="btn btn-info btn-lg btn-block" ng-show="view.isGraded() && questionIndex < questions.length">
            <span class="label label-default keyboard-shortcut">Enter</span>
            Next question
        </button>
        <button type="button" class="btn btn-default btn-lg btn-block" ng-show="view.isGraded() && currentQuestion.hasExplanations && !config.showExplanations && config.explain != 'summary'" ng-click="config.showExplanations = true">Explain answers</button>
        <button type="submit" class="btn btn-success btn-lg btn-block" ng-show="view.isGraded() && questionIndex >= questions.length">End test</button>
    </div>
</form>
