<!DOCTYPE html>
<html ng-app="DrillApp" manifest="drill2.appcache">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Drill 2</title>

		<!-- bower:css -->
		<!-- endinject -->
		<!-- bower:js -->
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/jquery/dist/jquery.min.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="lib/commonmark/dist/commonmark.min.js"></script>
		<script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
		<script src="lib/angular-cookies/angular-cookies.min.js"></script>
		<script src="lib/ng-elif/src/elif.js"></script>
		<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<!-- endinject -->

		<!-- MathJax has to be included manually due to that fancy GET-like configuration -->
		<script src="lib/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML,Safe"></script>
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
				tex2jax: {
					inlineMath:  [['^^','^^']],
					displayMath: [['$$','$$']]
				}
			});
		</script>

		<!-- inject:js -->
		<script src="app/20_main.js"></script>
		<script src="app/GraderFactory.js"></script>
		<script src="app/modal.js"></script>
		<script src="app/SafeEvalService.js"></script>
		<script src="app/ThemeSwitcher.js"></script>
		<script src="app/ViewFactory.js"></script>
		<script src="app/ViewportHelperService.js"></script>
		<script src="app/common/filters.js"></script>
		<script src="app/common/glyphicon.js"></script>
		<script src="app/data-model/Answer.js"></script>
		<script src="app/data-model/Question.js"></script>
		<script src="app/parser/QuestionLoader.js"></script>
		<script src="app/parser/QuestionParser.js"></script>
		<script src="app/stats/stats.js"></script>
		<script src="app/stats/StatsController.js"></script>
		<script src="app/parser/meta/JsonLoader.js"></script>
		<script src="app/parser/meta/OptionsBlockProcessor.js"></script>
		<script src="app/parser/meta/OptionsBlockUtils.js"></script>
		<script src="app/parser/questions/QuestionBuilder.js"></script>
		<script src="app/parser/questions/QuestionMerger.js"></script>
		<script src="app/parser/questions/QuestionParsingUtils.js"></script>
		<script src="app/parser/utils/ParsingUtils.js"></script>
		<script src="app/parser/utils/Pipeline.js"></script>
		<script src="app/screens/home/homeScreen.js"></script>
		<script src="app/screens/home/HomeScreenController.js"></script>
		<script src="app/screens/question/questionString.js"></script>
		<script src="app/screens/question/QuestionStringModalController.js"></script>
		<script src="app/screens/home/editor/questionEditor.js"></script>
		<script src="app/screens/home/editor/QuestionEditorController.js"></script>
		<script src="app/screens/home/settings/settingsScreen.js"></script>
		<!-- endinject -->

		<!-- Bootstrap styles included manually for theme switcher -->
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" title="Light">
		<link rel="stylesheet" href="view/style.css" title="Light">

		<link rel="alternate stylesheet" href="lib/bootswatch/cyborg/bootstrap.min.css" title="Dark">
		<link rel="alternate stylesheet" href="view/style-dark.css" title="Dark">
	</head>
	<body ng-controller="DrillController" ng-keypress="handleKeypress($event)" ng-class="{ 'keyboard-shortcuts-enabled': keyboardShortcutsEnabled }">
		<nav class="timer navbar navbar-default navbar-fixed-top" role="navigation" ng-show="config.timeLimitEnabled && view.isQuestion()">
			{{currentQuestion.timeLeft | minutes}}
		</nav>

		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
								<span class="sr-only">Toggle navigation</span>
								<glyphicon icon="wrench"></glyphicon>
							</button>
							<a href="#" class="navbar-brand">Drill 2</a>
						</div>
						<div class="collapse navbar-collapse" id="navbar">
							<ul class="nav navbar-nav pull-right text-right">
								<li>
									<button class="btn btn-default navbar-btn" disabled ng-show="updateStatus == 'downloading'">Downloading update&hellip;</button>
									<button class="btn btn-success navbar-btn" ng-click="installUpdate()" ng-show="updateStatus == 'updateready'">Enable downloaded updates</button>
								</li>
								<li class="distance"></li>
								<li><label for="keyboardShortcutsCheckbox" class="btn btn-default navbar-btn" title="Keyboard shortcuts">
                                    <glyphicon icon="th"></glyphicon>
                                    <input type="checkbox" id="keyboardShortcutsCheckbox" ng-model="keyboardShortcutsEnabled" />
                                </label></li>
								<li class="distance"></li>
								<li><button class="btn btn-default navbar-btn" ng-click="switchTheme()" title="Switch theme"><glyphicon icon="adjust"></glyphicon></i></button></li>
								<li class="distance"></li>
								<li><button class="btn btn-default navbar-btn" ng-click="confirmInterruption()" ng-disabled="view.isFirst()">Home screen</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-push-8">
					<stats stats="stats" progress="questionIndex - 1" question-count="questions.length" collapsed="statsCollapsed" message="getStatsMessage()" show-distribution="view.isFinal()"></stats>
				</div>
				<div class="col-sm-8 col-sm-pull-4 col-lg-7">
					<home-screen ng-show="view.isFirst()" bank="loadedQuestions" settings="config" info="bankInfo" start="firstQuestion"></home-screen>
					<div ng-show="view.isQuestion()" ng-include="'app/screens/question/question.html'" id="questionView"></div>
					<div ng-show="view.isFinal()" ng-include="'app/screens/summary/summary.html'" id="finalView"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 footer text-right">
					<p>
						<a href="https://github.com/gronostajo/drill2">Drill 2</a>
						<span class="separator"></span>
						<a href="https://github.com/gronostajo/drill2/blob/master/LICENSE">license</a>
						<span class="separator"></span>
						<a href="https://github.com/gronostajo/drill2/wiki">manual</a>
						<span class="separator"></span>
						<a href="https://github.com/gronostajo/drill2/issues">issues</a>
					</p>
				</div>
			</div>

		</div>

		<!-- Analytics -->
		<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-35145624-2', 'auto');
            ga('send', 'pageview');
		</script>
	</body>
</html>
