/*
 *	Drill 2 styles
 *	https://github.com/gronostajo/drill2
 */


/* Navbar buttons spacing */

.navbar li.distance {
	visibility: hidden;
	width: 8px;
	height: 1px;
}


/* Collapsing score */

.panel-heading a:after {
	display: inline-block;
	float: right;
	position: relative;

	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;

	border-top-color: #888;
	border-width: 9px 9px 0 9px;
	border-radius: 2px;
	top: 5px;
	right: -5px;
}

.panel-heading a.collapsed:after {
	border-top-color: transparent;
	border-left-color: #888;
	border-width: 9px 0 9px 9px;
	top: 0;
	right: 0;
}

.panel-heading a {
	display: block;
}


/* Test options */

.panel-compact .panel-heading, .panel-compact-notop .panel-heading {
	padding-top: 5px;
	padding-bottom: 5px;
}

.panel-compact .panel-body {
	padding-top: 0;
	padding-bottom: 0;
}

.panel-compact-notop .panel-body {
	padding-bottom: 0;
}

.inline-control {
	display: inline-block;
	width: 4em;
}

.input-xs {
	height: 26px;
	padding: 0 4px;
}


/* Answer customizations */

.checkbox {
	/*
	 *	Prevents selection on double click. As a desired side effect this will
	 *	also cause double clicks on labels to select and instantly un-select
	 *	a checkbox.
	 */
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.answer label {
	display: block;
	padding: .8em 8px .8em 28px;
	border: 1px solid transparent;
	border-radius: 6px;
}

.answer label:hover {
	border-color: #ccc;
}

.answer p:last-of-type {
	margin-bottom: 0;
}


/* Answer coloring */

.answer.checked-true label {
	font-weight: bold;
}

.graded .answer.correct-true label {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.graded .answer.checked-true.correct-false label {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}


/* Summary styles */

.summary {
	counter-reset: question-counter;
}

.summary .question-body > p:first-child:before {
	content: counter(question-counter) '. ';
	counter-increment: question-counter;
}

.summary label {
	font-weight: normal;
}

.summary .correct span, .summary .correct p {
	color: #3c763d;
	font-weight: bold;
}

.summary .incorrect span, .summary .incorrect p {
	color: #888;
	text-decoration: line-through;
}

.summary .missed span, .summary .missed p {
	font-weight: bold;
}

.summary .one-result {
	list-style-type: none;
}

.answer .id {
	display: inline-block;
	float: left;
}

.answer.explained p + p {
	margin-left: 1.5em;
}


/* Timer */

.timer {
	left: 50%;
	width: 4em;
	margin-left: -2em;
	border-radius: 0 0 8px 8px;
	border-width: 0 1px 1px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	line-height: 50px;
}


/* Footer spacing */

.footer {
	margin-top: 2em;
}
