<form name="config_form">
    <p title="Detected file format: {{ info.fileFormat }}">{{ info.questionCount }} questions loaded</p>
    <div>
        <div class="alert alert-danger" ng-show="info.fileFormat == 'unknown'">This file was prepared for an unrecognized version of Drill. Some features may not be available.</div>

        <div class="form-group panel panel-default panel-compact">
            <div class="panel-heading">Shuffling</div>
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.shuffleQuestions">
                        Shuffle questions
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.shuffleAnswers">
                        Shuffle answers
                    </label>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-compact">
            <div class="panel-heading">Grading</div>
            <div class="panel-body">
                <div>
                    <div class="form-group radio">
                        <label>
                            <input type="radio" name="gradingMethod" ng-model="model.gradingMethod" value="perAnswer">
                            1 point for each correct answer
                        </label>
                    </div>
                    <div class="form-group radio">
                        <label>
                            <input type="radio" name="gradingMethod" ng-model="model.gradingMethod" value="perQuestion">
                            <span class="inline-control">
													<input type="number" min="1" max="10" name="ppq" class="form-control input-xs text-right" ng-model="model.gradingPPQ" ng-disabled="model.gradingMethod != 'perQuestion'">
												</span>
                            points for entire question (fractions allowed)
                        </label>
                    </div>
                    <div class="form-group radio" ng-show="model.customGrader">
                        <label title="Grader oneliner: {{ model.customGrader }}">
                            <input type="radio" name="gradingMethod" ng-model="model.gradingMethod" value="custom">
                            Use grading method provided in loaded file
                        </label>
                    </div>
                </div>
                <div ng-hide="model.gradingMethod == 'custom'">
                    <hr>
                    <div class="form-group radio">
                        <label>
                            <input type="radio" name="gradingRadical" ng-model="model.gradingRadical" value="1">
                            One wrong answer zeroes score
                        </label>
                    </div>
                    <div class="form-group radio">
                        <label>
                            <input type="radio" name="gradingRadical" ng-model="model.gradingRadical" value="0">
                            Each wrong answer counterbalances correct one
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default panel-compact" ng-show="info.explanationsAvailable">
            <div class="panel-heading">Explanations</div>
            <div class="panel-body">
                <div class="form-group radio">
                    <label>
                        <input type="radio" name="explain" ng-model="model.explain" value="summary">
                        Only in summary
                    </label>
                </div>
                <div class="form-group radio">
                    <label>
                        <input type="radio" name="explain" ng-model="model.explain" value="optional">
                        Optional between questions
                    </label>
                </div>
                <div class="form-group radio">
                    <label>
                        <input type="radio" name="explain" ng-model="model.explain" value="always">
                        Always show between questions
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group panel panel-default panel-compact">
            <div class="panel-heading">Test options</div>
            <div class="panel-body">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.timeLimitEnabled">
                        Time limit:
                        <span class="inline-control">
												<input type="number" min="5" step="5" name="time_limit" class="form-control input-xs text-right" ng-model="model.timeLimitSecs" ng-disabled="!model.timeLimitEnabled">
											</span>
                        seconds per question
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="model.repeatIncorrect">
                        Repeat incorrectly answered questions
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group panel panel-default panel-compact-notop" ng-show="model.markdownReady || model.mathjaxReady">
            <div class="panel-heading">Features</div>
            <div class="panel-body">
                <p>Following features are supported in this question bank:</p>
                <div class="checkbox" ng-show="model.markdownReady">
                    <label>
                        <input type="checkbox" ng-model="model.markdown">
                        Enable Markdown formatting
                    </label>
                </div>
                <div class="checkbox" ng-show="model.mathjaxReady">
                    <label>
                        <input type="checkbox" ng-model="model.mathjax">
                        Enable LaTeX support
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="continue()" ng-disabled="config_form.ppq.$invalid || config_form.time_limit.$invalid">Begin test</button>
    </div>
</form>
