<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Questions database format</h4>
</div>
<div class="modal-body">
    <p>You have to load a question database that you want to learn from.</p>
    <p>The database is a simple text file. Questions are separated with double line breaks. Each question consists of a body (the actual question) and answers. Answers are indicated by subsequent letters and a closing bracket. Correct answers are preceded with three <i>greater than</i> characters.</p>
    <p>Example:</p>
    <pre>This is the first question. Which animal is the largest?
A) Ant &mdash; this answer is incorrect
>>>B) Male cat &mdash; correct answer
>>>C) Female cat &mdash; another correct answer
D) Spider &mdash; incorrect one

Second question. What are you?
>>>A) A man
B) A mouse</pre>
    <p>More detailed description of question bank file format and introduction to more advanced features are available in the <a href="https://github.com/gronostajo/drill2/wiki" target="_blank">documentation.</a></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
</div>
