<div ng-show="model.visibility == 'mini'">
    <ng-transclude></ng-transclude>
    <button type="button" class="btn btn-primary pull-right" ng-click="model.visibility = 'full'">
        <glyphicon icon="edit"></glyphicon>
        Open editor
    </button>
</div>
<form ng-show="model.visibility == 'full'" ng-submit="submit()" question-editor-form>
    <div class="form-group">
        <textarea class="form-control" rows="15" placeholder="Enter or paste questions here" ng-model="model.value" question-editor-textarea ng-keypress="keypress($event)"></textarea>
    </div>
    <div class="form-group">
        <ng-transclude></ng-transclude>
        <button type="submit" class="btn btn-primary pull-right">
            <glyphicon icon="ok"></glyphicon>
            Load questions
        </button>
    </div>
</form>
