<div class="page-header">
    <h2>
        Load test questions
        <small><a href="#" data-toggle="modal" modal="app/modal/help.html">(need help?)</a></small>
    </h2>
</div>
<div class="alert alert-danger" role="alert" ng-show="fileError">This file doesn't contain any valid questions.</div>
<div ng-show="fileApiSupported">
    <p><input type="file" id="fileSelector" ng-file-select ng-model="selectedFiles" ng-file-change="loadTextFile(selectedFiles[0], $files)" accept="text/plain"></p>
    <p ng-hide="editor.enabled">You can also <a href="#" ng-click="editor.enabled = true">enter questions manually</a> if you prefer to.</p>
</div>
<div ng-show="editor.enabled || !fileApiSupported">
    <p ng-hide="fileApiSupported">Your browser doesn't support File API, so loading file from your device is impossible.</p>
    <p>Paste questions below.</p>
    <question-editor model="editor" submit="loadFromString"></question-editor>
</div>
